.forSaleMessage {
  margin-top: 20px;
  font-size: 2em;
  background-color: rgb(232, 226, 217);
}

label {
  font-size: 1.5em;
  color: rgb(2, 2, 35);
}
input,
select {
  width: 400px;
  height: 30px;
  border-radius: 20px;
}

.sell-button {
  background-color: rgb(29, 28, 28);
  color: rgb(240, 232, 232);
  margin: 3px;
  border: 1px solid rgb(78, 69, 69);
}
